html,body{
    width:200px;
}

#task{
    width:100%;
    height:50px;
}
#time{
    width:100%;
    height:20px;
}
.hidden{
    display: none;
}
#final-submit{
    color:cyan;
    padding:10px;
    border-radius: 2rem;
}